<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://lsdsoftware.com/Eckhart" version="1.0.0" viewmodes="maximized">
    <access origin="https://support.lsdsoftware.com" subdomains="false"/>
    <tizen:application id="MGL0NU8Ve7.Eckhart" package="MGL0NU8Ve7" required_version="2.3.2"/>
    <content src="index.html"/>
    <tizen:content-security-policy>media-src 'self' https://s3.amazonaws.com; script-src 'self' 'unsafe-eval'</tizen:content-security-policy>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Eckhart</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
</widget>
